<div class="combo-box-input" (click)="togglePopup()">
    <div class="combo-box-input-value" [class.placeholder]="_selectedItem == undefined">
        {{getDisplayText(selectedItem)}}
    </div>
</div>
<div class="combo-box-button" (click)="togglePopup()"></div>
<popup class="combo-box-popup" [targetWidth]="true" position="bottom" [scroll-top]>
    <div *ngIf="emptyText" (click)="emptyItemClick()" (mouseenter)="setActiveItemIndex(-1)" class="combo-box-item empty" [class.active]="_activeItemIndex == -1">{{emptyText}}</div>
    <div *ngFor="let item of items; let i = index" (click)="itemClick(item)" (mouseenter)="setActiveItemIndex(i)" class="combo-box-item"
        [class.active]="_activeItemIndex == i">
        <template *ngIf="itemTemplate" [ngTemplateOutlet]="itemTemplate" [ngOutletContext]="{ $implicit: item }"></template>
        <span *ngIf="itemTemplate == null">{{getDisplayText(item)}}</span>
    </div>
</popup>