<div class="component-demo-layout">
    <header>
        <h1>error-list</h1>
    </header>
    <div class="component-playground">
        <div class="field">
            <label>First name</label>
            <text-box [(text)]="firstName"></text-box>
        </div>
        <div class="field">
            <label>Last name</label>
            <text-box [(text)]="lastName"></text-box>
        </div>
        <div class="field">
            <label>Age</label>
            <numeric-edit [(value)]="age"></numeric-edit>
        </div>
        <error-list></error-list>
    </div>
    <div class="component-properties">
    </div>
    <div class="component-markup">
        <h2>HTML</h2>
        <pre><code>&lt;error-list&gt;&lt;/error-list&gt;</code></pre>        
    </div>
    <div class="component-style">
        <h2>Style</h2>
    </div>
    <div class="component-docs">
        <h2>Docs</h2>
    </div>
</div>