@import "../../styles/theme";

:host {
    background: $primary100;
    display: inline-block;
    height: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
    width: 300px;

    &.progress-bar-infinite {
        .progress-bar-start {
            animation: startmove 2s linear infinite;
            display: inline-block;
        }

        .progress-bar-finish {
            animation: finishmove 2s linear infinite;
            display: inline-block;
        }

        .progress-bar {
            display: none;
        }
    }
}

.progress-bar {
    background: $primary500;
    height: 100%;
}

.progress-bar-start, .progress-bar-finish {
    background: $primary500;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 50%;
}

.progress-bar-start {
    left: -50%;
}

.progress-bar-finish {
    left: 50%;
}

@keyframes startmove {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}

@keyframes finishmove {
    from {
        left: 50%;
    }
    to {
        left: 150%;
    }
}