<div class="component-demo-layout">
    <header>
        <h1>dialog</h1>
    </header>
    <div class="component-playground">
        <section>
            <h3>Form dialog</h3>
            <button (click)="showRegister()">Register</button>
        </section>
        <section>
            <h3>Messages</h3>
            <button (click)="showMessage()">Message</button>
            <button (click)="showError()">Error</button>
            <button (click)="showWarning()">Warning</button>
            <button (click)="showQuestion()">Question</button>
        </section>
    </div>
    <div class="component-properties">
    </div>
    <div class="component-markup">
        <h2>HTML</h2>
        <pre>
            <code></code>
        </pre>
    </div>
    <div class="component-style">
        <h2>Style</h2>
    </div>
    <div class="component-docs">
        <h2>Docs</h2>
    </div>
</div>