@import "../../styles/theme";

:host {
    align-items: flex-start;
    cursor: default;
    display: inline-flex;
    flex-flow: row nowrap;
    outline: 0;

    &:focus {
        .check-box-button {
            border: $input-border-focused;
            outline: $input-outline-focused;
            outline-offset: $input-outline-offset-focused;
        }
    }

    &:hover {
        .check-box-button {
            border: $input-border-hovered;
        }
    }

    &[disabled] {
        .check-box-button {
            border: $input-border-disabled;
            outline: none;
        }

        .check-box-icon {
            fill: $input-color-disabled;
        }

        .check-box-text {
            color: $input-color-disabled;
        }

        &::selection {
            color: $input-color-disabled;
        }
    }
}

.check-box-button {
    background-color: $input-background-color;
    background-repeat: no-repeat;
    background-position: center center;
    border: $input-border;
    display: inline-block;
    flex: 0 0 auto;
    height: 16px;
    margin: 1px 0 0 0;
    padding: 1px;
    width: 16px;

    &::-moz-focus-inner {
        border: 0;
    }
}

.check-box-icon {
    display: block;
    fill: $input-color;
    width: 100%;
    height: 100%;
}

.check-box-text {
    font: $input-font;
    padding-left: 6px;
}