* {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.component-demo-layout {
    display: flex;
    flex-flow: row wrap;

    h1 {
        font-size: 20px;
        font-weight: 500;
        margin: 20px 0 32px 0;
    }

    h2 {
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    h3 {
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 10px 0;
    }

    header {
        flex: 1 0 100%;
        padding: 0 20px;
    }

    .component-playground {
        flex: 0 0 70%;
        padding: 0 20px 20px 20px;

        section {
            margin: 0 0 24px 0;
        }
    }

    .component-value {
        background-color: #fafafa;
        display: block;
        font-family: Consolas, 'Courier New', Courier, monospace;
        font-size: 13px;
        margin: 10px 0;
        padding: 10px;
    }

    .component-properties {
        flex: 0 0 30%;
        padding: 0 20px 20px 20px;

        table {
       //     border-top: 1px solid #eee;
      //      border-left: 1px solid #eee;
            border-spacing: 0;
            border-collapse: collapse;
            font-size: 12px;
            width: 100%;
        }

        td {
            border-bottom: 1px solid #eee;
          //  border-right: 1px solid #eee;
            padding: 6px 0 6px 10px;
            vertical-align: middle;

            &:first-child {
                white-space: nowrap;
            }

            &:nth-child(2) {
                font-family: Consolas, 'Courier New', Courier, monospace;
                width: 40px;
            }
        }

        combo-box, text-box {
            width: 100%;
        }

        numeric-edit {
            width: 50%;
        }
    }

    .component-markup {
        flex: 1 0 100%;
        padding: 0 20px 20px 20px;

        pre {
            margin: 0;
        }

        code {
            padding: 0;
        }
    }

    .component-style {
        flex: 1 0 100%;
        padding: 0 20px 20px 20px;
    }

    .component-docs {
        flex: 1 0 100%;
        padding: 0 20px 20px 20px;
    }

    code {
        font-family: Consolas, 'Courier New', Courier, monospace;
    }
}

a, a:visited {
    color: #1976D2;
    text-decoration: none;
}

//@import 'variables';



//body {
 //   background: $backgroundColor;
 //   background-image: url(./previous-24.png);
 //   color: #fff;
//}