<div class="component-demo-layout">
    <header>
        <h1>calendar</h1>
    </header>
    <div class="component-playground">
        <calendar></calendar>
    </div>
    <div class="component-properties">
        <table>
            <tr>
                <td>date</td>
                <td>[()]</td>
                <td><date-edit [(value)]="calendar.date"></date-edit></td>
            </tr>
            <tr>
                <td>dateSelected</td>
                <td>()</td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="component-markup">
        <h2>HTML</h2>
        <pre>
            <code>
&lt;calendar&gt;&lt;/calendar&gt;
        </code>
        </pre>
    </div>
    <div class="component-style">
        <h2>Style</h2>
    </div>
    <div class="component-docs">
        <h2>Docs</h2>
    </div>
</div>