<div class="component-demo-layout">
    <header>
        <h1>progress-bar</h1>
    </header>
    <div class="component-playground">
        <progress-bar></progress-bar>
    </div>
    <div class="component-properties">
        <table>
            <tr>
                <td>infinite</td>
                <td>[]</td>
                <td><check-box [(checked)]="progressBar.infinite"></check-box></td>
            </tr>
            <tr>
                <td>min</td>
                <td>[]</td>
                <td><numeric-edit [(value)]="progressBar.min" [increment]="10"></numeric-edit></td>
            </tr>
            <tr>
                <td>max</td>
                <td>[]</td>
                <td><numeric-edit [(value)]="progressBar.max" [increment]="10"></numeric-edit></td>
            </tr>
            <tr>
                <td>value</td>
                <td>[]</td>
                <td><numeric-edit [(value)]="progressBar.value" [increment]="10"></numeric-edit></td>
            </tr>
        </table>
    </div>
    <div class="component-markup">
        <h2>HTML</h2>
        <pre><code>&lt;progress-bar&gt;&lt;/progress-bar&gt;</code></pre>
    </div>
    <div class="component-style">
        <h2>Style</h2>
    </div>
    <div class="component-docs">
        <h2>Docs</h2>
    </div>
</div>