<main>
    <nav>
        <header>
            <h1>Impresite UI</h1>
            <h2>Angular 2 components</h2>
        </header>
        <a routerLink="/autocomplete" class="complete" routerLinkActive="active-link">autocomplete</a>
        <a routerLink="/breadcrumb" class="complete" routerLinkActive="active-link">breadcrumb</a>
        <a routerLink="/button" class="complete" routerLinkActive="active-link">button</a>
        <a routerLink="/calendar" class="complete" routerLinkActive="active-link">calendar</a>
        <a routerLink="/check-box" class="complete" routerLinkActive="active-link">check-box</a>
        <a routerLink="/combo-box" class="complete" routerLinkActive="active-link">combo-box</a>
        <a routerLink="/data-table" class="complete" routerLinkActive="active-link">data-table</a>
        <a routerLink="/date-edit" class="complete" routerLinkActive="active-link">date-edit</a>
        <a routerLink="/dialog" class="complete" routerLinkActive="active-link">dialog</a>
        <a routerLink="/error-list" class="complete" routerLinkActive="active-link">error-list</a>
        <a routerLink="/flat-button" class="complete" routerLinkActive="active-link">flat-button</a>
        <a routerLink="/list" class="complete" routerLinkActive="active-link">list</a>
        <a routerLink="/memo-edit" class="complete" routerLinkActive="active-link">memo-edit</a>
        <a routerLink="/numeric-edit" class="complete" routerLinkActive="active-link">numeric-edit</a>
        <a routerLink="/pivot" class="complete" routerLinkActive="active-link">pivot</a>
        <a routerLink="/popup" class="complete" routerLinkActive="active-link">popup</a>
        <a routerLink="/progress-bar" class="complete" routerLinkActive="active-link">progress-bar</a>
        <a routerLink="/radio-button" class="complete" routerLinkActive="active-link">radio-button</a>
        <a routerLink="/tabs" class="complete" routerLinkActive="active-link">tabs</a>
        <a routerLink="/text-box" class="complete" routerLinkActive="active-link">text-box</a>
        <a routerLink="/toggle-button" class="complete" routerLinkActive="active-link">toggle-button</a>
        <!--<a routerLink="/toolbar" class="incomplete" routerLinkActive="active-link">toolbar</a>-->
        <a routerLink="/tree" class="complete" routerLinkActive="active-link">tree</a>
        <!--<a routerLink="/yandex-map" class="incomplete" routerLinkActive="active-link">yandex-map</a>-->
        <hr />
        <a href="https://github.com/bmitchenko/impresite-ui" target="_blank">GitHub</a>
    </nav>
    <div class="page">
        <router-outlet></router-outlet>
        <dialog-host></dialog-host>
    </div>
</main>